// Navigation code here
header {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 0%;

    div {
      display: flex;
      justify-content: space-evenly;
      width: 60%;
      padding-top: 2.5%;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
